#root {
  background-color: oklch(92.8% 0.006 264.531);
  height: 100vh;
  text-align: center;
  font-family: "Funnel Display", sans-serif;
  font-size: 1.25rem;
  line-height: calc(1.75 / 1.25);
  font-weight: 300;
  text-align: left;
  color: dimgray;
}

a:hover {
  text-decoration: underline;
}